/* Global */

@import url('https://fonts.googleapis.com/css2?family=Source+Code+Pro&family=Source+Sans+Pro&family=Source+Serif+Pro&display=swap');

/*
    font-family: 'Source Serif Pro', serif;
    font-family: 'Source Sans Pro', sans-serif;
    font-family: 'Source Code Pro', monospace;
*/

:root {
    --main-fg-color: #060706;
    --main-bg-color: #f8f2de;

    --secondary-fg-color: #181818;
    --secondary-bg-color: #fcf6e5;

    --transition-time: 500ms;
}

h1, h2, h3, h4, h5, h6 {
    font-family: 'Source Sans Pro', sans-serif;
}

p {
    font-family: 'Source Serif Pro', serif;
}

code {
    font-family: 'Source Code Pro', monospace;
}


/*RESET STYLES */
* {
    margin: 0;
    padding: 0;
    text-decoration: none;
    box-sizing: border-box;
    transition: var(--transition-time);
}

html {
    font-size: 100%;
}

li {
    list-style-type: none;
}

h1 {
    font-size: 1.5rem;
}

a {
    color: var(--main-fg-color);
}

.toggle-menu {
    box-shadow: none;
    background: transparent;
    border: 0;
}

body {
    color: var(--main-fg-color);
    background-color: var(--main-bg-color);
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.body-extended {
    overflow-y: hidden;
}


/* HEADER STYLES
–––––––––––––––––––––––––––––––––––––––––––––––––– */

header {
    position: sticky;
    color: var(--main-bg-color);
    background-color: var(--main-fg-color);
    top: 0;
    width: 100%;
    height: 50px;
    /* z-index: 100; */
}

#title {
    display: flex;
    align-items: center;
    width: 100%;
    height: 50px;
    border-bottom: 1px solid var(--secondary-fg-color);
}

#title h1 {
    display: inline;
    padding: 1rem;
}

#banner {
    padding: 0 2rem;
}

#hamburger {
    justify-content: center;
    text-align: center;
    border-right: var(--secondary-bg-color);
    width: 50px;
    height: 100%;
    cursor: pointer;
}

.hamburger-extended {
    transform: rotate(90deg);
    background-color: var(--main-bg-color);
    color: var(--main-fg-color);
}

#hamburger:hover,
#hamburger:active {
    color: var(--main-fg-color);
    background-color: var(--main-bg-color);
}

nav {
    position: relative;
    left: 0;
    right: 0;
    overflow: hidden;
    height: 0;
    color: var(--main-bg-color);
    background-color: var(--main-fg-color);
    /* z-index: 99; */
}

.nav-extended {
    height: 100vh;
}

nav .headshot {
    display: none;
}

nav a {
    color: var(--main-bg-color);
}

nav ul a:hover {
    color: var(--secondary-bg-color);
    background-color: var(--secondary-fg-color);
    margin-left: 10px;
}

nav footer {
    position: absolute;
    bottom: 0;
    left: 0;
    border-top: var(--secondary-fg-color);
    text-align: center;
    z-index: 10;
    /* display: grid; */
    /* justify-items: center; */
}


nav footer p {
    font-size: .7rem;
    /* grid-column-start: 1; */
    /* grid-column-end: 3; */
    padding: 1rem;
    text-align: center;
}

.linkbadge {
    width: 40px;
    height: 40px;
    margin: 0 auto;
    display: inline-block;
}

.linkbadge:after {
    content: "";
    clear: both;
}

.linkbadge:hover {
    width: 50px;
    height: 50px;
    /* transform: rotate(10deg); */
}


li a {
    display: block;
    padding: 10px 20px;
}

main {
    display: block;
    padding: 0 20px;
    z-index: 50;
}

main .headshot {
    display: inline-block;
    width: 80px;
}


/* STYLES FOR THE "scroll" CLASS
–––––––––––––––––––––––––––––––––––––––––––––––––– */

.scroll {
    box-shadow: 0 7px 0 0 rgba(0, 0, 0, .1);
}

.scroll .logo {
    padding: 10px 20px;
    font-size: 1.5rem;
}

.scroll nav {
    align-items: center;
}

.scroll .logo,
.scroll ul,
.scroll .toggle-menu {
    margin: 0;
}


/* MQ STYLES
–––––––––––––––––––––––––––––––––––––––––––––––––– */

@media only screen and (min-width: 736px) {
    body {
        font-size: 1.2rem;
    }

    nav {
        position: fixed;
        height: 100vh;
        width: 0;
    }

    nav ul {
        overflow-y: auto;
    }

    .nav-extended {
        width: 200px;
    }

    .main-extended {
        margin-left: 200px;
    }
}

@media only screen and (min-width: 1024px) {
    body {
        font-size: 1.5rem;
    }

    header {
        position: fixed;
        width: 300px;
        height: 100px;
    }

    nav {
        padding-top: 100px;
        height: 100vh;
        width: 300px;
    }

    nav .headshot {
        display: block;
        width: 150px;
        margin: auto;
    }

    main {
        margin-left: 300px;
        padding-top: 50px;
    }

    main .headshot {
        display: none;
    }
    
    main p {
        margin-left: 10px;
    }

    .nav-extended {
        width: 300px;
    }
    .body-extended {
        overflow-y: scroll;
    }

    .main-extended {
        margin-left: 300px;
    }

    #hamburger {
        display: none;
    }

    nav .headshot {
        width: 200px;
    }
}