/* Global */

@import url('https://fonts.googleapis.com/css2?family=Source+Code+Pro&family=Source+Sans+Pro&family=Source+Serif+Pro&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Cantarell&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Cantarell:wght@400;700&family=Oxygen&display=swap');

/*
    font-family: 'Source Serif Pro', serif;
    font-family: 'Source Sans Pro', sans-serif;
    font-family: 'Source Code Pro', monospace;
*/

:root {
    --main-fg-color: #060c06;
    --main-bg-color: #f8f5eb;

    --secondary-fg-color: #181818;
    --secondary-bg-color: #fcf6e5;

    --transition-time: 500ms;
}

* {
    margin: 0;
    padding: 0;
    text-decoration: none;
    box-sizing: border-box;
    transition: var(--transition-time);
}

html {
    font-size: 100%;
}

h1, h2, h3, h4, h5, h6 {
    /*font-family: 'Source Sans Pro', sans-serif;*/
    font-family: 'Oxygen', sans-serif;
}

p {
    /*font-family: 'Source Serif Pro', serif;*/
    font-family: 'Cantarell', sans-serif;
}

code {
    font-family: 'Source Code Pro', monospace;
}

li {
    list-style-type: none;
}

h1 {
    font-size: 1.5rem;
}

a {
    color: var(--main-fg-color);
    text-decoration: underline;
}

body {
    color: var(--main-fg-color);
    background-color: var(--main-bg-color);
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.body-extended {
    overflow-y: hidden;
}


header {
    position: sticky;
    color: var(--main-bg-color);
    background-color: var(--main-fg-color);
    top: 0;
    width: 100%;
    height: 50px;
    z-index: 100;
}

#title {
    display: flex;
    align-items: center;
    width: 100%;
    height: 50px;
    border-bottom: 1px solid var(--secondary-fg-color);
}

#title h1 {
    display: inline;
    padding: 1rem;
}

#banner {
    padding: 0 2rem;
}

#hamburger {
    justify-content: center;
    text-align: center;
    border-right: var(--secondary-bg-color);
    width: 50px;
    height: 100%;
    cursor: pointer;
}

.hamburger-extended {
    transform: rotate(90deg);
    background-color: var(--main-bg-color);
    color: var(--main-fg-color);
}

#hamburger:hover,
#hamburger:active {
    color: var(--main-fg-color);
    background-color: var(--main-bg-color);
}

nav {
    position: fixed;
    left: 0;
    right: 0;
    overflow: hidden;
    height: 0;
    color: var(--main-bg-color);
    background-color: var(--main-fg-color);
    /* z-index: 99; */
    text-align: center;
}

.nav-extended {
    height: 100vh;
}

nav .headshot {
    display: none;
}

nav a {
    color: var(--main-bg-color);
}

nav ul {
    margin-top: 10px;
}

nav ul a:hover {
    color: var(--secondary-bg-color);
    background-color: var(--secondary-fg-color);
    margin-left: 10px;
}

nav footer {
    position: absolute;
    bottom: 0;
    left: 0;
    border-top: var(--secondary-fg-color);
    text-align: center;
    z-index: 10;
}

nav footer p {
    font-size: .7rem;
    padding: 1rem;
    text-align: center;
}

.linkbadge {
    width: 40px;
    height: 40px;
    margin: 0 auto;
    display: inline-block;
}

.linkbadge:after {
    content: "";
    clear: both;
}

.linkbadge:hover {
    width: 50px;
    height: 50px;
}

li a {
    display: block;
    padding: 10px 20px;
}

main {
    display: block;
    padding: 10px 20px 0;
    z-index: 50;
}

main p {
    text-align: justify;
    padding-bottom: 10px;
}

main h4, main h5, main h6 {
    display: inline-block;
    margin-right: 5px;
}

main .headshot {
    display: inline-block;
    width: 80px;
    height: 80px;
    margin: 10px;
}

#static-content {
    border-bottom: 1px solid var(--secondary-fg-color);
}

#about-me {
    margin-left: 10px;
    display: flex;
    flex-flow: row nowrap;
}

#resume {
    margin-left: 10px;
    display: flex;
    flex-direction: column;
}

#resume ul {
    list-style-type: square;
}

@media only screen and (min-width: 736px) {
    body {
        font-size: 1.2rem;
    }

    nav {
        position: fixed;
        height: 100vh;
        width: 0;
    }

    nav ul {
        overflow-y: auto;
    }

    .nav-extended {
        width: 200px;
    }

    .main-extended {
        margin-left: 200px;
    }
}

@media only screen and (min-width: 1024px) and (min-height: 670px) {
    body {
        font-size: 1.5rem;
    }

    header {
        position: fixed;
        width: 300px;
        height: 100px;
    }

    nav {
        padding-top: 100px;
        height: 100vh;
        width: 300px;
        text-align: unset;
    }

    nav .headshot {
        display: block;
        width: 150px;
        margin: auto;
    }

    main {
        margin-left: 300px;
        padding-top: 50px;
    }

    main .headshot {
        display: none;
    }
    
    main p {
        margin-left: 10px;
        text-align: unset;
    }

    .nav-extended {
        width: 300px;
    }
    .body-extended {
        overflow-y: scroll;
    }

    .main-extended {
        margin-left: 300px;
    }

    #hamburger {
        display: none;
    }

    nav .headshot {
        width: 200px;
    }
}